<app-navbar-admin></app-navbar-admin>
<div class="peliculas-wrapper">
  <div class="peliculas-panel">
    <h1>Gestión de Películas 🎬</h1>
    <div class="peliculas-botones">
      <button routerLink="crear">➕ Crear Película</button>
      <button routerLink="listar">📋 Ver Todas</button>
      <button routerLink="editar/1">✏️ Actualizar</button>
      <button routerLink="inhabilitar/1">🚫 Inhabilitar</button>
      <button routerLink="/admin" class="volver-btn">🔙 Volver al panel</button>

    </div>
  </div>
</div>
<app-footer></app-footer>