

.compras-titulo {
  text-align: center;
  margin-bottom: 1.5rem;
}

.tabla-scroll {
  overflow-x: auto;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
  background-color: #ffffff;

}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

thead {
  background-color: #192077;
  color: white
}
