<div class="inicio-layout">
  <app-navbar></app-navbar>

  <main class="contenido">
<h2 class="titulo-cartelera">🎞️ Próximamente</h2>

<div class="peliculas-container">
  <a
    *ngFor="let peli of peliculasProximamente"
    [routerLink]="['/pelicula', peli.id]"
    class="pelicula-card-link"
  >
    <div class="pelicula-card">
      <img [src]="peli.imagen" alt="{{ peli.titulo }}" class="pelicula-img" />
      <h3>{{ peli.titulo }}</h3>
      <p><strong>Duración:</strong> {{ peli.duracion }} min</p>
      <p><strong>Categoría:</strong> {{ peli.categoria }}</p>
      <button
        class="trailer-link"
        (click)="verTrailer($event, peli.trailerUrl)"
      >
        Ver Trailer 🎥
      </button>
    </div>
  </a>
</div>
</main>

  <app-footer></app-footer>
</div>
