<div class="trailer-container" *ngIf="pelicula">
  <iframe
    width="100%"
    height="400"
    [src]="sanitizarUrl(pelicula.trailerUrl)"
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>


<!-- Contenido principal -->
<div class="main-container" *ngIf="pelicula">
  <!-- Imagen -->
  <div class="imagen-container">
    <img 
      [src]="pelicula.imagen" 
      alt="Imagen de {{ pelicula.titulo }}" 
      class="imagen-pelicula">
  </div>

  <!-- Detalles -->
  <div class="info-container ">
    <h2>{{ pelicula.titulo }}</h2>
    <p><strong>Descripción:</strong> {{ pelicula.descripcion }}</p>
    <p><strong>Duración:</strong> {{ pelicula.duracion }} min</p>
    <p><strong>Categoría:</strong> {{ pelicula.categoria }}</p>
    <p><strong>Estreno:</strong> {{ pelicula.fechaEstreno | date:'longDate' }}</p>
  </div>

  <!-- Sección días + funciones -->
 <!-- Sección días + funciones -->
<div class="dias-funciones-container" *ngIf="diasDisponibles.length > 0; else sinFunciones">
  <!-- Barra de días -->
  <div class="dias-wrapper">
  <button class="flecha" (click)="scrollIzquierda()">&#8249;</button>

  <div class="dias-lista">
    <button
      *ngFor="let dia of diasVisibles"
      (click)="diaSeleccionado = dia"
      [class.dia-activo]="dia.toDateString() === diaSeleccionado.toDateString()"
    >
      <div class="nombre-dia">{{ dia | date: 'EEE' | uppercase }}</div>
      <div class="numero-dia">{{ dia | date: 'dd MMM' }}</div>
    </button>
  </div>

  <button class="flecha" (click)="scrollDerecha()">&#8250;</button>
</div>

  <!-- Caja de funciones -->
  <div class="funciones-panel">
    <div class="cine-nombre">Multicine cineapp</div>
    <div class="tipo-sala">2D - DOB</div>

    <div class="horarios" *ngIf="funcionesDelDiaSeleccionado.length > 0; else sinFuncionesDelDia">
      <button *ngFor="let funcion of funcionesDelDiaSeleccionado" (click)="irAComprar(funcion.id!)">
        {{ funcion.hora }}
      </button>
    </div>

    <ng-template #sinFuncionesDelDia>
      <p class="sin-funciones">No hay funciones para este día.</p>
    </ng-template>
  </div>
</div>

<!-- Template para cuando no hay ninguna función -->
<ng-template #sinFunciones>
  <div class="sin-funciones-container">
    <div class="sin-funciones-card">
      <p class="mensaje">🎬 Lo sentimos, no hay funciones disponibles para esta película.</p>
    </div>
  </div>
</ng-template>



</div>
