
<div class="compra-container">
  <h2>Compra de Tickets</h2>

  <div class="pelicula-info">
    <h3>{{ pelicula.titulo }}</h3>
    <p><strong>Función:</strong> {{ funcion.fecha | date }} a las {{ funcion.hora }}</p>
    <p><strong>Sala:</strong> {{ sala.nombre }} (Capacidad: {{ sala.capacidad }})</p>
    <p><strong>Precio por ticket:</strong> ${{ precioPorTicket }}</p>
  </div>

  <div class="cantidad-selector">
    <label for="cantidad">Cantidad de Tickets:</label>
    <input id="cantidad" type="number" min="1" max = "{{sala.capacidad}}" [(ngModel)]="cantidadTickets" />
  </div>

  <div class="total">
    <p><strong>Total a pagar:</strong> ${{ total }}</p>
  </div>

<button class="boton-comprar" (click)="irAProcesarPago()">Comprar</button>
</div>

