
<div class="actualizar-pelicula-wrapper"  *ngIf="pelicula">
  <form (ngSubmit)="onSubmit()" #peliculaForm="ngForm">
    <h2>Actualizar Película 🎬</h2>

    <label>Título</label>
    <input type="text" name="titulo" [(ngModel)]="pelicula.titulo" required />

    <label>Descripción</label>
    <textarea name="descripcion" [(ngModel)]="pelicula.descripcion" required></textarea>

    <label>Categoría</label>
    <input type="text" name="categoria" [(ngModel)]="pelicula.categoria" required />

    <label>Trailer URL</label>
    <input type="url" name="trailerUrl" [(ngModel)]="pelicula.trailerUrl" required />

    <label>Fecha de Estreno</label>
    <input type="date" name="fechaEstreno" [(ngModel)]="pelicula.fechaEstreno" required />

    <label>Duración (minutos)</label>
    <input type="number" name="duracion" [(ngModel)]="pelicula.duracion" required />

    <label>Imagen (URL)</label>
    <input type="text" name="url" [(ngModel)]="pelicula.imagen" required />

    <div class="checkboxes">
      <label>
        <input type="checkbox" [(ngModel)]="pelicula.proximamente" name="proximamente" (change)="onCheckboxChange('proximamente')" />
        Próximamente
      </label>

      <label>
        <input type="checkbox" [(ngModel)]="pelicula.activo" name="activo" (change)="onCheckboxChange('activo')" />
        Activa
      </label>
    </div>

      <button type="submit" [disabled]="!peliculaForm.valid">Guardar Película</button>
      <button type="button" class="desactivar-btn" (click)="mostrarModal = true">Inhabilitar</button>


     <!-- Modal -->
<div class="modal-backdrop" *ngIf="mostrarModal">
  <div class="modal-content">
    <h3>¿Estás seguro que quieres inhabilitar esta película?</h3>
    <p>Esta acción hará que ya no aparezca en la cartelera.</p>

    <div class="modal-buttons">
     <button type="button" class ="confirmar" (click)="confirmarInhabilitar()">
        Sí, Inhabilitar</button>
      <button class="cancelar" (click)="mostrarModal = false">Cancelar</button>
    </div>
  </div>
</div>


  
  </form>
</div>
