<div class="funciones-container">
  <h2 class="titulo-centrado">Funciones Programadas</h2>

  <div class="filtros">
    <input type="text" placeholder="ID Película..." [(ngModel)]="filtro.peliculaId" (ngModelChange)="aplicarFiltros()">
    <input type="text" placeholder="ID Sala..." [(ngModel)]="filtro.salaId" (ngModelChange)="aplicarFiltros()">
    <input type="text" placeholder="Fecha(YYYY-MM-DD)" [(ngModel)]="filtro.fecha" (ngModelChange)="aplicarFiltros()">
    <select [(ngModel)]="filtro.activo" (ngModelChange)="aplicarFiltros()">
      <option value="">Todos</option>
      <option value="true">Activas</option>
      <option value="false">Inactivas</option>
    </select>
  </div>

  <div class="tabla-responsive">
    <table>
      <thead>
        <tr>
          <th>ID Película</th>
          <th>ID Sala</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Precio</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of funcionesFiltradas">
          <td>{{ f.peliculaId }}</td>
          <td>{{ f.salaId }}</td>
          <td>{{ f.fecha | date:'yyyy-MM-dd' }}</td>
          <td>{{ f.hora }}</td>
          <td>{{ f.precio | currency:'USD' }}</td>
          <td [ngClass]="f.activo ? 'activo' : 'inactivo'">
            {{ f.activo ? 'Activa' : 'Inhabilitada' }}
          </td>
          <td>
            <button (click)="abrirModal(f)"
              [ngClass]="f.activo ? 'inhabilitar-btn' : 'habilitar-btn'">
              {{ f.activo ? 'Inhabilitar' : 'Habilitar' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="mostrarModal">
  <div class="modal-content">
    <h3>
      ¿Estás seguro que quieres
      {{ funcionSeleccionada?.activo ? 'inhabilitar' : 'habilitar' }}
      la función del {{ funcionSeleccionada?.fecha | date }}?
    </h3>
    <div class="modal-buttons">
      <button type="button" class="confirmar" (click)="confirmarCambioEstado()">
        Sí, {{ funcionSeleccionada?.activo ? 'Inhabilitar' : 'Habilitar' }}
      </button>
      <button class="cancelar" (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
</div>
