:host {
  display: block;
  background-color: #f0f2f5;
  min-height: 100vh;
  padding: 20px;
}
.titulo-listado {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

.peliculas-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.pelicula-card-admin {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  gap: 20px;
}

.imagen-wrapper {
  display: flex;
  align-items: center;
}

.admin-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.pelicula-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pelicula-info a {
  color: #007bff;
  text-decoration: none;
}

.pelicula-info a:hover {
  text-decoration: underline;
}

.activo {
  color: green;
  font-weight: bold;
}

.inactivo {
  color: red;
  font-weight: bold;
}
.pelicula-info p, 
.pelicula-info h3 {
  margin: 4px 0;
  line-height: 1.2;
}
