<div class="compras-titulo">
  <h2>Revisa tus compras realizadas</h2>
</div>

<!-- 🔷 Cards resumen -->
<div class="cards-container">
    <div class="card yellow">
    <h3>Tickets Vendidos</h3>
    <p>{{ ticketsVendidos }}</p>
  </div>

  <div class="card green">
    <h3>Pago Preferido</h3>
    <p>{{ pagoPreferido }}</p>
  </div>
   <div class="card red">
    <h3>Sala Más Frecuente</h3>
    <p>{{ salaFrecuente }}</p>
  </div>
</div>


<!-- 📊 Tabla de ventas -->
<div class="tabla-scroll">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Función</th>
        <th>Tipo de pago</th>
        <th>Tickets</th>
        <th>Total</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{ venta.id }}</td>
        <td>{{ venta.funcionId }}</td>
        <td>{{ venta.tipoPagoId }}</td>
        <td>{{ venta.cantidadTickets }}</td>
        <td>{{ venta.total | currency:'COP' }}</td>
        <td>{{ venta.fecha | date:'short' }}</td>
      </tr>
    </tbody>
  </table>
</div>
