<div class="login-modal-container">
  <h2 class="login-title">Iniciar sesión</h2>

  <mat-form-field appearance="fill" class="login-form-field">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" type="email" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="login-form-field">
    <mat-label>Contraseña</mat-label>
    <input matInput [(ngModel)]="password" type="password" />
  </mat-form-field>
  <div *ngIf="loginError" class="login-error">{{ loginError }}</div>


  <div class="login-modal-actions">
    <button mat-raised-button color="primary" (click)="login()">Ingresar</button>
  </div>
  
  <div class="google-login-container">
  <button mat-raised-button color="accent" (click)="loginWithGoogle()">
    <img src="assets/logo-google.png" width="20" style="margin-right: 8px;" />
    Iniciar sesión con Google
  </button>
</div>

  <div class="register-link">
    <span>¿No tienes una cuenta?</span>
<a (click)="cerrarYRedirigir()">Regístrate</a>
  </div>
</div>
